<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="searchbar">
            <input type="text" v-model="searchtitle" @input="searchsong" placeholder="Search title">
        </div>

        <div v-if="searchtitle && songSearched.length">
            <ul class="song-list">
                <li v-for="song in songSearched" class="song-item">
                    <img :src="song.img" :alt="song.title">
                    <h3>
                        {{ song.title }}
                        <i :class="['fa', song.isFav ? 'fa-heart' : 'fa-regular fa-heart']" @click="toggleFavorite(song)"></i>
                    </h3>
                    <h4>{{ song.album }}</h4>
                    <p>{{ song.artist }}</p>
                </li>
            </ul>
        </div>

        <div v-else-if="showSongs">
            <ul class="song-list">
                <li v-for="song in songs" class="song-item">
                    <img :src="song.img" :alt="song.title">
                    <h3>
                        {{ song.title }}
                        <i :class="['fa', song.isFav ? 'fa-heart' : 'fa-regular fa-heart']" @click="toggleFavorite(song)"></i>
                    </h3>
                    <h4>{{ song.album }}</h4>
                    <p>{{ song.artist }}</p>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>
</html>