body {
    background-color: #d1d1d1;
    max-width: 960px;
    margin: 20px auto;
}

img {
    width: 50px;
    height: 50px;
}

p, h3, h4, ul {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-item {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.song-item:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.song-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song-item h3,
.song-item h4,
.song-item p {
    margin: 0;
    padding: 0 10px;
}

.song-item h3 {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.song-item h4 {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.song-item .fa-heart,
.song-item .fa-regular.fa-heart {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
}

.song-item .fa-heart {
    color: #ff0000;
}

.song-item .fa-regular.fa-heart {
    color: #ccc;
}

.searchbar {
    background-color: #fee0ff;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.fa-filter {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    margin: 8px;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
}
.fa-filter.active {
    background-color: #0d6efd;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: white;
}

.no-songs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.no-songs h4 {
    font-size: 1.5rem;
    color: #999;
}

.searchbar input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px black solid;
    width: 75%;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.searchbar input:focus {
    border-bottom: 2px black solid;
}

.filter-panel {
    opacity: 0;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    right: -2.5rem;
    z-index: 10;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.filter-panel.active {
    opacity: 1;
    transform: translateY(0);
}

.filter-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.filter-panel button:hover {
    background: #e0e0e0;
}